header{
    display:flex;
    
    
}

nav{
    margin-left:10%;
    flex:2;
    display:flex;
    width:100%;
    align-self:center;
    
}
a{
    flex:8;
    display:block;
    text-align: center;
    height:100%;
    
    text-decoration:None;
    font-weight: bold;
    color:black;
}
